## DATA SCIENCE TOOLS AND ECOSYSTEM

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. PYTHON
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TENSORFLOW
2. NUMPY
3. PANDAS

|DATA SCIENCE TOOLS|
|------------------|
|      PYTHON      |
|    APACHE SPARK  |
|     TENSORFLOW   |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

x=(3*4)+5
print(x)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

x=200/60
print(x)

3.3333333333333335

__OBJECTIVES:__

- POPULAR LANGUAGES IN DATA SCIENCE
- POPULAR TOOLS USED IN DATA SCIENCE
- EXAMPLES FOR EVALUATING BASIC ARITHEMATIC EXPRESSIONS IN PYTHON

### AUTHOR:
SHINY BENJAMIN